.contAbout {
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-image: linear-gradient(rgb(233, 233, 233), rgb(233, 233, 233));
}

.about--details {
  padding: 0 0 0 5vmin;
}

.paragraph {
  /* padding-top: 5vmin; */
  font-size: 2vmin;
  font-weight: 200;
  letter-spacing: 0.3175px;
  font-family: Arial, Helvetica, sans-serif;
}

.heading--about {
  font-size: 4vmin;
  letter-spacing: 0.3175px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
span {
  color: #09c0f7;
}

.underline--about {
  width: 31vw;
  background-color: black;
  height: 1.7px;
  margin-top: 2%;
}

.aboutHeading--rot {
  font-size: 4vmin;
  letter-spacing: 0.3175px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transform: rotateZ(90deg);
  transform-origin: 4.7%;
  margin: 0 0 0 13.5vw;
}
.aboutUnderline--rot {
  width: 44vh;
  background-color: black;
  height: 1.6px;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .aboutHeading--rot {
    display: none;
  }
  .aboutUnderline--rot {
    display: none;
  }
  .heading--about {
    font-size: 4vmin;
    letter-spacing: 0.3175px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    /* transform: translateX(-80%); */
  }
  .kohali {
    /* margin-top: 6em; */
    height: auto;
    width: 20%;
  }
  .about--details {
    /* padding: 0 0 0 5vmin; */
  }
}
