.contAbout {
  width: 100%;
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.about--image {
  width: 50%;
  float: left;
}

.about--details {
  width: 40%;
  float: left;
  padding: 0 0 0 5vmin;
}

.kohali {
  width: 50%;
  height: 35%;
  /* padding-top: 2vmin; */
  margin-left: 50%;
}

br {
  clear: left;
}

.paragraph {
  padding-top: 5vmin;
  font-size: 2vmin;
  font-weight: 200;
  letter-spacing: 0.3175px;
  font-family: Arial, Helvetica, sans-serif;
}

.heading--about {
  font-size: 4vmin;
  letter-spacing: 0.3175px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
span {
  color: #09c0f7;
}

.underline--about {
  width: 31vw;
  background-color: black;
  height: 1.7px;
  margin-top: 2%;
}

.aboutHeading--rot {
  font-size: 4vmin;
  letter-spacing: 0.3175px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transform: rotateZ(90deg);
  transform-origin: 4.7%;
  margin: 0 0 0 13.5vw;
}
.aboutUnderline--rot {
  width: 44vh;
  background-color: black;
  height: 1.6px;
}
