.contAbout {
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-image: linear-gradient(rgb(233, 233, 233), rgb(233, 233, 233));
}
.container-fluid {
  padding-right: 0px !important;
}
.paragraph {
  /* padding-top: 5vmin; */
  font-weight: 200;
  letter-spacing: 0.3px;
  font-family: Arial, Helvetica, sans-serif;
}

.heading--about {
  letter-spacing: 0.3175px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
span {
  color: #09c0f7;
}

.underline--about {
  background-color: black;
  height: 1.7px;
}

.aboutHeading--rot {
  letter-spacing: 0.3175px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transform: rotateZ(90deg);
}
.aboutUnderline--rot {
  background-color: black;
  height: 1.6px;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .aboutHeading--rot {
    font-size: 3.5vmin;
    transform-origin: 12%;
    margin-left: 6vw;
    transform: rotateZ(90deg) translateX(4vw);
  }
  .aboutUnderline--rot {
    width: 41vw;
    height: 1px;
    margin-left: 3.6vw;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-0.3vw);
  }
  .heading--about {
    font-size: 3.5vmin;
    margin-left: -0.7em;
    letter-spacing: 0.3175px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  .kohali {
    height: auto;
    width: 50%;
    margin-top: 4em;
    margin-left: 10em;
  }
  .about--details {
    padding: 1.5em 0 0 0;
  }
  .paragraph {
    font-size: 1.8vmin;
    letter-spacing: 0.3175px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .aboutHeading--rot {
    font-size: 3.5vmin;
    transform-origin: 12%;
    margin-left: 8vw;
    transform: rotateZ(90deg) translateX(4vw);
  }
  .aboutUnderline--rot {
    width: 31vw;
    height: 1px;
    margin-left: 7vw;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-0.3vw);
  }
  .heading--about {
    font-size: 4vmin;
    margin-left: -0.5em;
    letter-spacing: 0.3175px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  .kohali {
    height: auto;
    width: 40%;
    margin-top: 2em;
    margin-left: 15em;
  }
  .about--details {
    padding: 1.5em 0 0 0;
  }
  .paragraph {
    font-size: 2vmin;
    letter-spacing: 0.3175px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .aboutHeading--rot {
    display: none;
  }
  .aboutUnderline--rot {
    display: none;
  }
  .heading--about {
    font-size: 5.8vmin;
    margin-left: -0.7em;
    letter-spacing: 0.3175px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  .kohali {
    height: auto;
    width: 75%;
    margin-top: 3em;
    margin-left: 2.5em;
  }
  .about--details {
    padding: 1.5em 0 0 0;
  }
  .paragraph {
    font-size: 3vmin;
    letter-spacing: 0.3175px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .aboutHeading--rot {
    display: none;
  }
  .aboutUnderline--rot {
    display: none;
  }
  .heading--about {
    font-size: 3.5vmin;
    margin-left: -1em;
    letter-spacing: 0.3175px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  .kohali {
    height: auto;
    width: 100%;
    margin-top: 4.2em;
  }
  .about--details {
    padding: 1.5em 0 0 0;
  }
  .paragraph {
    font-size: 2.4vmin;
  }
}
