.footer {
  color: #09c0f7;
}

.footer--logo {
  width: 50%;
}

.social {
  background-color: #09c0f7;
  color: #fff;
}

.footer--main {
  background-image: linear-gradient(rgb(232, 232, 232), rgb(232, 232, 232));
  padding: 1vmin;
}

.row {
  margin-right: 0 !important;
}
.mb-0 {
  margin-left: 12vmin !important;
}
.mb-1 {
  margin-left: 30vmin;
}
.icon {
  color: white;
}
.py-3 {
  background-image: linear-gradient(rgb(227, 224, 224), rgb(230, 227, 227));
}
