.ContDiv {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../image/coverphoto1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}
.image {
  z-index: 100;
}

.flc {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #fff;
}

.flc > span {
  color: #09c0f7;
}

.homepage {
  padding-top: 10vh;
}

.register--button {
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  font: 0.3em Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 0.5em 2em 0.55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #d9eef7;
  border: solid 1px #0076a3;

  background: #0095cd;
  letter-spacing: 0.325px;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media screen and (min-width: 1281px) {
  .ContDiv {
    height: 90vh;
  }
  .frontpageimage {
    width: 70%;
    height: auto;
    margin-left: 12vw;
    transform: translateY(-20vh);
  }
  .flc {
    margin-top: 14vh;
    margin-left: 2.5vw;
    font-size: 7vmin;
  }
  .register--button {
    margin-left: 16em;
    padding: 0.3em 1em 0.3em;
    font-size: 1.5em;
  }
  .main {
    transform: translateY(-14em);
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .ContDiv {
    height: 80vh;
  }
  .frontpageimage {
    width: 65%;
    height: auto;
    margin-left: 12vw;
    transform: translateY(-18vh);
  }
  .flc {
    margin-top: 4vh;
    margin-left: 1vw;
    font-size: 5.5vmin;
  }

  .register--button {
    margin-left: 17em;
    padding: 0.3em 1em 0.3em;
    font-size: 1em;
  }

  .main {
    transform: translateY(-11em);
  }
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ContDiv {
    height: 45vh;
  }
  .frontpageimage {
    width: 90%;
    height: auto;
    margin-left: 6vw;
    transform: translateY(-13.5vh);
  }
  .flc {
    margin-top: 4vmin;
    margin-left: 1vw;
    font-size: 5vmin;
  }

  .register--button {
    margin-left: 13.2em;
    padding: 0.3em 1em 0.3em;
    font-size: 1em;
  }

  .main {
    transform: translateY(-12em);
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .ContDiv {
    height: 80vh;
  }
  .frontpageimage {
    width: 72%;
    height: auto;
    margin-left: 12vw;
    transform: translateY(-16vh);
  }
  .flc {
    margin-top: 8vh;
    margin-left: 2.5vw;
    font-size: 6vmin;
  }

  .register--button {
    margin-left: 12.5em;
    padding: 0.3em 1em 0.3em;
    font-size: 1.3em;
  }

  .main {
    transform: translateY(-11em);
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .ContDiv {
    height: 150vh;
  }
  .frontpageimage {
    width: 70%;
    height: auto;
    margin-left: 12vw;
    transform: translateY(-5em);
  }
  .flc {
    margin-top: 10vh;
    margin-left: 1vw;
    font-size: 4.5vw;
  }

  .register--button {
    margin-left: 9em;
    padding: 0.3em 1em 0.3em;
    font-size: 1em;
  }

  .main {
    transform: translateY(-7.3em);
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .ContDiv {
    height: 100vh;
  }
  .frontpageimage {
    width: 80%;
    height: auto;
    margin-top: 1em;
    margin-left: 18vw;
    transform: translateY(-5em);
  }
  .flc {
    margin-top: -16.5em;
    margin-left: -31vw;
    font-size: 6vw;
    text-align: center;
  }

  .register--button {
    margin-left: 2em;
    padding: 0.3em 1em 0.3em;
    font-size: 0.8em;
  }

  .main {
    transform: translateY(-9em);
  }
}
