.nav {
  background-color: black;
  opacity: 0.6;
  color: white;
  padding: 1vh 1vh 0 1vh;
  font-family: "Anton";
  outline: none;
  height: 4.5em;
}
.nav--left {
  width: 45%;
  font-weight: 700;
  padding: 0.2vh 3vh;
}
.cl {
  text-align: center;
}

.navLeft--underline {
  width: 100%;
  background-color: white;
  height: 0.3vh;
  margin: 0 auto;
}
.nav--left h1 span {
  color: #09c0f7;
}
.nav--logo {
  width: 10%;
  padding-top: 0.5em;
}

.nav--right {
  width: 45%;
  padding: 1vh 3vh;
  margin-top: 2vh;
}

.navlink {
  list-style: none;
}
.navlink > li {
  float: left;
  padding: 0 5vh;
  font-size: 1em;
}

.nav--right span {
  color: #09c0f7;
}

.navRight--underline {
  width: 100%;
  background-color: white;
  height: 0.3vh;
  margin-top: 2.3em;
}
