.contDiv {
  background: linear-gradient(rgba(41, 40, 40, 0.6), rgba(41, 40, 40, 0.6)),
    url("../image/team_details.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.loading {
  padding: 2.5vmin;
  text-align: center;
}
.underline {
  background-color: white;
  height: 1px;
}
.heading {
  letter-spacing: 0.3175px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.thead {
  color: #fff;
  background-color: #09c0f7;
}

.tbody {
  color: black;
}
.tbody tr {
  background-color: #fff;
}

.table th,
td {
  text-align: center;
}

.table {
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0 1vmin;
  font-size: 2vmin;
  letter-spacing: 0.3175px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.tbody tr:hover {
  background-color: rgb(235, 232, 232);
  cursor: pointer;
}

.pointtableimage {
  z-index: 100;
  width: 100%;
  height: auto;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pointtableimage {
    width: 95%;
    margin-left: 2.5vw;
    margin-top: 2.5vh;
  }
  .ContTable {
    padding: 0 !important;
  }
  .underline {
    width: 99%;
    margin-left: 9vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  .heading {
    margin: 2vh 0 0 9vw;
    font-size: 3.5vmin;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .cricketer--image {
    display: none;
  }

  .heading {
    font-size: 5vmin;
    transform-origin: 12%;
    margin-left: 10vw;
    transform: rotateZ(90deg) translateX(1.7vw);
  }
  .underline {
    width: 20vw;
    margin-left: 8vw;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-1.8vw);
  }

  .table {
    font-size: 2.5vmin;
    margin-left: 2vw;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .cricketer--image {
    display: none;
  }
  .underline {
    background-color: white;
    height: 1px;
    width: 30%;
    margin-left: 7vw;
    margin-bottom: 1vh;
    margin-top: 1%;
  }
  .heading {
    margin: 2vh 0 0 3vw;
    font-size: 5vmin;
  }

  .table {
    font-size: 2.5vmin;
    margin-left: 2vw;
  }
}
