.contDiv {
  background: linear-gradient(rgba(41, 40, 40, 0.6), rgba(41, 40, 40, 0.6)),
    url("../image/team_details.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* float: left; */
}
.loading {
  padding: 2.5vmin;
  margin-top: 20vh;
  margin-left: 45vw;
}

.heading {
  margin: 6vh 0 0 13vw;
}

.thead {
  color: #fff;
  background-color: #09c0f7;
}

.tbody {
  color: black;
}
.tbody tr {
  background-color: #fff;
}

.table th,
td {
  text-align: center;
}

.table {
  margin: 1vh 0 0 10vw;
  padding: 6vmin;
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0 1vmin;
  font-weight: normal;
  font-stretch: normal;
  font-size: 2vmin;
  float: left;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.tbody tr:hover {
  background-color: rgb(235, 232, 232);
  cursor: pointer;
}

.pointtableimage {
  z-index: 90;
  width: 70%;
  height: auto;
  transform: translateY(-5vh);
  margin-left: 7.5vw;
}

.underline {
  background-color: white;
  width: 42.5vw;
}
