.contDiv {
  background: linear-gradient(rgba(41, 40, 40, 0.6), rgba(41, 40, 40, 0.6)),
    url("../image/team_details.jpg");
  background-repeat: no-repeat;
  width: 101.02%;
  background-position: center center;
  height: 75vh;
}
.loading {
  padding: 2.5vmin;
  margin-top: 20vh;
  margin-left: 45vw;
}

.heading {
  margin: 6vh 0 0 11vw;
  font-size: 4vmin;
  letter-spacing: 0.3175px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.thead {
  color: #fff;
  background-color: #09c0f7;
}

.tbody {
  color: black;
}
.tbody tr {
  background-color: #fff;
}

.table th,
td {
  text-align: center;
}

.table {
  /* margin-left: 8vw;
  padding: 4vmin 6vmin 6vmin 6vmin; */
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0 1vmin;
  font-size: 2vmin;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.tbody tr:hover {
  background-color: rgb(235, 232, 232);
  cursor: pointer;
}

.pointtableimage {
  z-index: 100;
  width: 100%;
  height: auto;
  transform: translate(-10vmin, -10vmin);
}

.underline {
  background-color: white;
  height: 1.7px;
  margin-top: 1%;
}
