.container {
  margin-top: 10%;
}

.button {
  display: inline-block;
  margin: 20% 0% 20% 25%;
  outline: none;
  text-align: center;

  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: 0.5em 2em 0.55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  border: solid 1px #0076a3;
  background: #0095cd;
}
.link_decoration {
  text-decoration: none !important;
  color: #d9eef7;
}
