.player--card {
  background-image: linear-gradient(rgb(213, 211, 211), rgb(213, 211, 211));
  display: inline-block;
  padding-top: 2vh;
  padding-bottom: 1vh;
}
.card--details {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.card--upperline {
  height: 1px;
  background-color: gray;
  text-align: center;
}
.cardHeading--rot {
  letter-spacing: 0.3175px;
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.cardUnderline--rot {
  background-color: gray;
  height: 2px;
  margin-top: 0;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .player--card {
    width: 20%;
    height: 25vh;
    margin-top: 10vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }
  .card--details {
    margin-left: 2vw;
    margin-top: 0;
    padding-top: 1vh;
  }
  .card--details > h6 {
    font-size: 2vmin;
    text-align: left;
  }
  .card--details > h4 {
    font-size: 2.5vmin;
    padding-top: 2vh;
    margin-left: -0.3vw;
    text-align: left;
  }

  .card--upperline {
    margin-top: 3vh;
  }
  .cardHeading--rot {
    font-size: 3.5vmin;
    transform-origin: 12%;
    margin-left: 1vw;
    transform: rotateZ(90deg) translateX(-29.5vw);
  }
  .cardUnderline--rot {
    width: 14.8vh;
    height: 1px;
    margin-left: 7.9vw;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-2.3vh);
  }
  .player--image {
    width: 50%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .player--card {
    width: 21%;
    height: 45vh;
    margin-top: 7vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }
  .card--details {
    margin-left: 2vw;
    margin-top: 4vh;
    padding-top: 1vh;
  }
  .card--details > h6 {
    font-size: 2.5vmin;
    text-align: left;
  }
  .card--details > h4 {
    font-size: 3.3vmin;
    padding-top: 3vh;
    text-align: left;
  }
  .cardHeading--rot {
    font-size: 3.5vmin;
    transform-origin: 12%;

    transform: rotateZ(90deg) translateX(-31vw);
  }
  .cardUnderline--rot {
    width: 20.5vh;
    height: 1px;
    margin-left: 8vw;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-2.3vw);
  }
  .player--image {
    width: 60%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .player--card {
    width: 20%;
    height: 48vh;
    margin-top: 7vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }
  .card--details {
    margin-left: 2vw;
    margin-top: 4vh;
    padding-top: 1vh;
  }
  .card--details > h6 {
    font-size: 2.5vmin;
    text-align: left;
  }
  .card--details > h4 {
    font-size: 3.5vmin;
    padding-top: 1vh;
    margin-left: 1vw;
    text-align: left;
  }

  .cardHeading--rot {
    font-size: 5vmin;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-30vw);
  }
  .cardUnderline--rot {
    width: 20vw;
    height: 1px;
    margin-left: 7.5vw;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-2.5vw);
  }
  .player--image {
    width: 50%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .player--card {
    width: 25%;
    margin-top: 3.9vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }
  .card--details {
    margin-left: 2vw;
    padding-top: 1vh;
  }
  .card--details > h6 {
    font-size: 2.5vmin;
    text-align: left;
  }
  .card--details > h4 {
    font-size: 3.5vmin;
    padding-top: 1vh;
    margin-left: -2.5vw;
    text-align: center;
  }
  .cardHeading--rot {
    font-size: 5vmin;
    margin: 2vh 0 0 0vw;
  }
  .cardUnderline--rot {
    width: 28vw;
    height: 1px;
    margin-left: 35.6vw;
  }
  .player--image {
    width: 18vmin;
  }
}
