.main-div {
  background: linear-gradient(rgba(41, 40, 40, 0.6), rgba(41, 40, 40, 0.6)),
    url("../image/team_detail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.playerCard {
  background-image: linear-gradient(rgb(213, 211, 211), rgb(213, 211, 211));
  display: inline-block;
  padding-top: 2vh;
  padding-bottom: 1vh;
}
.cardHeading-rot {
  letter-spacing: 0.3175px;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  z-index: 100;
}
.heading--about {
  letter-spacing: 0.3175px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.cardUnderline-rot {
  background-color: white;
  z-index: 100;
}
.card--details > h3 {
  letter-spacing: 0.3175px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media screen and (min-width: 1281px) {
  .playerCard {
    width: 17%;
    height: 40vh;
    margin-top: 12vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }

  .card--details > h3 {
    font-size: 1.7rem;
    margin-top: 3.5vh;
    margin-left: -1vw;
    text-align: center;
  }

  .cardHeading-rot {
    font-size: 3.5vmin;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-31vw);
  }
  .cardUnderline-rot {
    width: 27.5vh;
    height: 1px;
    margin-left: 8vw;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-1.3vw);
  }
  .team--image {
    width: 60%;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media screen and (min-width: 1025px) and (max-width: 1281px) {
  .playerCard {
    width: 17%;
    height: 40vh;
    margin-top: 12vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }

  .card--details > h3 {
    font-size: 1.7rem;
    margin-top: 3.5vh;
    margin-left: -1vw;
    text-align: center;
  }

  .cardHeading-rot {
    font-size: 3.5vmin;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-31vw);
  }
  .cardUnderline-rot {
    width: 27.5vh;
    height: 1px;
    margin-left: 8vw;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-1.3vw);
  }
  .team--image {
    width: 60%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .playerCard {
    width: 22%;
    height: 26vh;

    margin-top: 12vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }
  .card--details {
    margin-left: 2vw;
    margin-top: 2vh;
    padding-top: 1vh;
  }
  .card--details > h3 {
    font-size: 1.4rem;
    margin-top: 7vh;
    padding-bottom: 2vmin;
    margin-left: -1vw;
    text-align: center;
  }
  .cardHeading-rot {
    font-size: 3.5vmin;
    transform-origin: 12%;
    margin-left: 1vw;
    transform: rotateZ(90deg) translateX(-29vw);
  }
  .cardUnderline-rot {
    width: 16.3vh;
    height: 1px;
    margin-left: 7.9vw;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-2.6vw);
  }
  .team--image {
    width: 70%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .playerCard {
    width: 20%;
    height: 40vh;

    margin-top: 12vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }
  .card--details {
    margin-left: 2vw;
    margin-top: 4vh;
    padding-top: 1vh;
  }
  .card--details > h3 {
    font-size: 1.7rem;
    margin-top: 6vh;
    padding-bottom: 1vmin;
    margin-left: -1vw;
    text-align: center;
  }

  .cardHeading-rot {
    font-size: 3.5vmin;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-30vw);
  }
  .cardUnderline-rot {
    width: 23.5vh;
    height: 1px;
    margin-left: 8vw;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-1.8vw);
  }
  .team--image {
    width: 70%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .aboutHeading--rot {
    display: none;
  }
  .aboutUnderline--rot {
    display: none;
  }
  .heading--about {
    font-size: 5.8vmin;
    margin-left: -0.7em;
  }
  .kohali {
    height: auto;
    width: 75%;
    margin-top: 3em;
    margin-left: 2.5em;
  }
  .about--details {
    padding: 1.5em 0 0 0;
  }
  .paragraph {
    font-size: 3vmin;
    letter-spacing: 0.3175px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .playerCard {
    width: 20%;
    height: 48vh;

    margin-top: 7vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }
  .card--details {
    margin-left: 2vw;
    margin-top: 4vh;
    padding-top: 1vh;
  }
  .card--details > h3 {
    font-size: 1.3rem;
    padding-top: 3vh;
    padding-bottom: 2vmin;
    margin-left: -1vw;
    text-align: center;
  }

  .cardHeading-rot {
    font-size: 5vmin;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-30vw);
  }
  .cardUnderline-rot {
    width: 20vw;
    height: 1px;
    margin-left: 7.5vw;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-2.5vw);
  }
  .team--image {
    width: 70%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .playerCard {
    width: 25%;
    height: 21vh;
    margin-top: 7vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }
  .card--details {
    /* margin-left: 2vw; */
    padding-top: 1vh;
  }
  .card--details > h3 {
    font-size: 3vmin;
    padding-top: 3vh;
    text-align: center;
  }
  .cardHeading-rot {
    font-size: 5vmin;
    margin: 2vh 0 0 0vw;
  }
  .cardUnderline-rot {
    width: 29vw;
    height: 1px;
    margin-left: 35.6vw;
  }
  .team--image {
    width: 18vmin;
  }
}
