.image {
  width: 20%;
  /* padding: 2vmin; */
  height: 10%;
}

.pic {
  width: 10vmin;
}

.main--div {
  background: linear-gradient(rgba(41, 40, 40, 0.6), rgba(41, 40, 40, 0.6)),
    url("../image/team_details.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.card--div {
  padding-top: 8vmin;
  padding-bottom: 8vmin;
}

.player--card {
  background-image: linear-gradient(rgb(191, 190, 190), rgb(191, 190, 190));
  width: 15%;
  display: inline-block;
}
.card--details {
  margin-left: 2vw;
  padding-top: 3vh;
}

.card--details > h6 {
  font-size: 2vmin;
  text-align: left;
}
.card--details > h4 {
  font-size: 3vmin;
  padding-top: 2vh;
  text-align: left;
}

.card--upperline {
  /* height: 1px; */
  margin-top: 6vh;
  background-color: gray;
  text-align: center;
  width: 100%;
}

.cardHeadingTeam--rot {
  font-size: 4vmin;
  letter-spacing: 0.3175px;
  position: absolute;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transform: rotateZ(90deg);
  z-index: 100;
  margin: 9vh 0 0 8vw;
}
.cardUnderlineTeam--rot {
  position: relative;
  width: 25vh;
  background-color: white;
  height: 2px;
  z-index: 100;
  /* margin-top: 1vmin; */
}
