.main-div {
  background: linear-gradient(rgba(41, 40, 40, 0.6), rgba(41, 40, 40, 0.6)),
    url("../image/team_details.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cardHeading-rot {
  letter-spacing: 0.3175px;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  z-index: 100;
}
.cardUnderline-rot {
  background-color: white;
  z-index: 100;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .player--card {
    width: 20%;
    height: 48vh;
    padding-top: 2vh;
    padding-bottom: 1vh;
    margin-top: 7vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }
  .card--details {
    margin-left: 2vw;
    margin-top: 4vh;
    padding-top: 1vh;
  }
  .card--details > h3 {
    font-size: 1.3rem;
    padding-top: 3vh;
    padding-bottom: 2vmin;
    letter-spacing: 0.3175px;
    margin-left: -1vw;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
  }

  .card--upperline {
    margin-top: 4vh;
  }
  .cardHeading-rot {
    font-size: 5vmin;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-30vw);
  }
  .cardUnderline-rot {
    width: 20vw;
    height: 1px;
    margin-left: 7.5vw;
    transform-origin: 12%;
    transform: rotateZ(90deg) translateX(-2.5vw);
  }
  .team--image {
    width: 70%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .player--card {
    width: 25%;
    padding-top: 2vh;
    padding-bottom: 1vh;
    margin-top: 5.8vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }
  .card--details {
    margin-left: 2vw;
    padding-top: 1vh;
  }
  .card--details > h3 {
    font-size: 4vmin;
    padding-top: 3vh;
    text-align: center;
  }
  .cardHeading-rot {
    font-size: 5vmin;
    margin: 2vh 0 0 0vw;
  }
  .cardUnderline-rot {
    width: 29vw;
    height: 1px;
    margin-left: 35.6vw;
  }
  .team--image {
    width: 18vmin;
  }
}
